body{
    font-family: sans-serif;
    line-height: 1.4;
}
.product{
    border: 4px solid black;
    width: 825px;
    margin: 50px auto; 
    padding: auto;  /*50px X axis auto Y axis*/
}
.product-title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px;
}
.price{
    font-size: 24px;
}
.shipping{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#777;
    margin-bottom: 20px;
}
.more-info:link, .more-info:visited{
     color: black;
}
.more-info:hover, .more-info:active{
    text-decoration: none;
}
.details-title{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
}
.details-list{
    list-style: square;
    margin-left: 20px;
}
.details-list li {
    margin-bottom: 10px;
}
.add-cart{
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;
}
.add-cart:hover{
    background-color: #fff;
    color: #000;

}