*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    line-height: 1.4;
}
.product{
    border: 4px solid black;
    width: 825px;
    margin: 50px auto;   /*50px X axis auto Y axis*/
    position: relative;
}
.product-title{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    padding: 15px;
}
.price{
    font-size: 24px;
}
.shipping{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#777;
    margin-bottom: 20px;
}
.sale{
    background-color: #ec2f2f;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 15px;
    display: inline-block;
    /* width: 40px; */
    /* text-align: center; */
    position: absolute;
    top:-17px;
    left: -38px;
}
.more-info:link, .more-info:visited{
     color: black;
     margin-bottom: 30px;
     display: inline-block;
}
.more-info:hover, .more-info:active{
    text-decoration: none;
}
.color{
    height: 22px;
    width: 22px;
    background-color: #000;
    display: inline-block;
}
.blue{
    background-color: #2f6ee2;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.brown{
    background-color: brown;
}
.details-title{
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 30px;
}
.details-list{
    list-style: square;
    margin-left: 20px;
}
.details-list li {
    margin-bottom: 10px;
}
.add-cart{
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 4px solid black;
}
.add-cart:hover{
    background-color: #fff;
    color: #000;

}